{% args temperature, humidity, pressure, pico_temp, water_temp, light_percentage %}

<div class="sensor-data">
    <div class="sensor-row">
        <i class="fas fa-thermometer-half fa-2x"></i>
        <p class=sensor-label>Temperature</p>
        <p id="temperature">{{ temperature }}</p>
    </div>
    <div class="sensor-row">
        <i class="fas fa-tint fa-2x"></i>
        <p class=sensor-label>Humidity</p>
        <p id="humidity">{{ humidity }}</p>
    </div>
    <div class="sensor-row">
        <i class="fas fa-tachometer-alt fa-2x"></i>
        <p class=sensor-label>Baro Pressure</p>
        <p id="barometric_pressure">{{ pressure }}</p>
    </div>
    <div class="sensor-row">
        <i class="fas fa-microchip fa-2x"></i>
        <p class=sensor-label>CPU Temp</p>
        <p id="pico_internal_temp">{{ pico_temp }}</p>
    </div>
    <div class="sensor-row">
        <i class="fas fa-thermometer fa-2x"></i>
        <p class=sensor-label>Water Temp</p>
        <p id="thermistor_temp">{{ water_temp }}</p>
    </div>
    <div class="sensor-row">
        <i class="fas fa-sun fa-2x"></i>
        <p class=sensor-label>Light Meter</p>
        <p id="light_percentage">{{ light_percentage }}</p>
    </div>




